#Rust
target/
Cargo.lock
Cargo.toml.orig

*.rlib
*.rmeta

.DS_Store
Thumbs.db

build/

debug/
release/
ms/

.DS_Store
.AppleDouble/
.LSOverride
Icon

__MACOSX/

*.pem
*.crt
*.key
*.p12
*.pfx

.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

*.log
*.log.*
debug.log

_docker/.zsh_history

workspace/*
